workflows/workflow-02-post-call-routing.json
{
  "name": "workflow-02-post-call-routing",
  "nodes": [
    {
      "id": "w02-node-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "w02-node-02",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true } }}"
      }
    },
    {
      "id": "w02-node-03",
      "name": "Route by Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "value1": "={{ $json.outcome }}",
                    "operation": "equal",
                    "value2": "qualified_hot"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "value1": "={{ $json.outcome }}",
                    "operation": "equal",
                    "value2": "qualified_warm"
                  }
                ]
              },
              "output": 1
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "value1": "={{ $json.outcome }}",
                    "operation": "equal",
                    "value2": "no_answer"
                  }
                ]
              },
              "output": 2
            }
          ],
          "fallbackOutput": 3
        }
      }
    },
    {
      "id": "w02-node-04",
      "name": "Update Lead Hot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 100],
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.lead_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "qualified_hot"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-cred",
          "name": "Supabase-API"
        }
      }
    },
    {
      "id": "w02-node-05",
      "name": "SMS Founder Hot",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1100, 100],
      "parameters": {
        "operation": "send",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $vars.FOUNDER_PHONE }}",
        "message": "🔥 HOT LEAD: {{ $('Webhook').item.json.lead_id }} just qualified! Needs: {{ ($('Webhook').item.json.dental_needs ?? []).join(', ') || 'TBD' }}, Budget: {{ $('Webhook').item.json.budget ?? 'TBD' }}, Timeline: {{ $('Webhook').item.json.timeline ?? 'TBD' }}. Call them NOW!"
      },
      "credentials": {
        "twilioApi": {
          "id": "twilio-account-cred",
          "name": "Twilio-Account"
        }
      }
    },
    {
      "id": "w02-node-06",
      "name": "Update Lead Warm",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 280],
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.lead_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "qualified_warm"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-cred",
          "name": "Supabase-API"
        }
      }
    },
    {
      "id": "w02-node-07",
      "name": "Get Lead Warm",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 280],
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "column": "id",
              "value": "={{ $('Webhook').item.json.lead_id }}"
            }
          ]
        },
        "limit": 1
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-cred",
          "name": "Supabase-API"
        }
      }
    },
    {
      "id": "w02-node-08",
      "name": "SMS Lead Warm",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1300, 280],
      "parameters": {
        "operation": "send",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.phone }}",
        "message": "Hi {{ $json.first_name }}! Thanks for speaking with our dental team. We'd love to share more about your {{ ($('Webhook').item.json.dental_needs ?? [])[0] ?? 'dental needs' }}. Reply YES for a free consultation with Cancun Dental Care!"
      },
      "credentials": {
        "twilioApi": {
          "id": "twilio-account-cred",
          "name": "Twilio-Account"
        }
      }
    },
    {
      "id": "w02-node-09",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 460],
      "parameters": {
        "amount": 2,
        "unit": "hours"
      }
    },
    {
      "id": "w02-node-10",
      "name": "Retry Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 460],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APP_URL }}/api/test/trigger-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dashboard-secret",
              "value": "={{ $vars.DASHBOARD_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('Webhook').item.json.lead_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "w02-node-11",
      "name": "Update Lead Cold",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 640],
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.lead_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "qualified_cold"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api-cred",
          "name": "Supabase-API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200": {
      "main": [
        [{ "node": "Route by Outcome", "type": "main", "index": 0 }]
      ]
    },
    "Route by Outcome": {
      "main": [
        [{ "node": "Update Lead Hot", "type": "main", "index": 0 }],
        [{ "node": "Update Lead Warm", "type": "main", "index": 0 }],
        [{ "node": "Wait 2 Hours", "type": "main", "index": 0 }],
        [{ "node": "Update Lead Cold", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead Hot": {
      "main": [
        [{ "node": "SMS Founder Hot", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead Warm": {
      "main": [
        [{ "node": "Get Lead Warm", "type": "main", "index": 0 }]
      ]
    },
    "Get Lead Warm": {
      "main": [
        [{ "node": "SMS Lead Warm", "type": "main", "index": 0 }]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [{ "node": "Retry Call", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
